@charset "UTF-8";

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../fonts/Quicksand-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-right-arrow:before {
  content: "\e900";
  font-size: 0.5625rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 0.1875rem;
}

._icon-cross:before {
  content: "\ea0f";
  font-size: 1.5625rem;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: Quicksand;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Quicksand;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  color: #000;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 2.5rem;
}

.header._scroll .header__wrapper {
  background-color: rgba(49, 49, 49, 0.8);
}

.header._scroll .header__container {
  min-height: 3.125rem;
}

.header._scroll .buy-header {
  background-color: rgb(239, 220, 220);
}

.header__wrapper {
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@supports (min-height: clamp( 3.125rem , 0.9821428571rem  +  9.1428571429vw , 8.125rem )) {
  .header__container {
    min-height: clamp( 3.125rem , 0.9821428571rem  +  9.1428571429vw , 8.125rem );
  }
}

@supports not (min-height: clamp( 3.125rem , 0.9821428571rem  +  9.1428571429vw , 8.125rem )) {
  .header__container {
    min-height: calc(3.125rem + 5 * (100vw - 23.4375rem) / 54.6875);
  }
}

.header__column {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@supports (flex-basis: clamp( 9.375rem , -5.4637096774rem  +  30.9139784946vw , 16.5625rem )) {
  .header__column {
    -ms-flex-preferred-size: clamp( 9.375rem , -5.4637096774rem  +  30.9139784946vw , 16.5625rem );
        flex-basis: clamp( 9.375rem , -5.4637096774rem  +  30.9139784946vw , 16.5625rem );
  }
}

@supports not (flex-basis: clamp( 9.375rem , -5.4637096774rem  +  30.9139784946vw , 16.5625rem )) {
  .header__column {
    -ms-flex-preferred-size: calc(9.375rem + 7.1875 * (100vw - 48rem) / 23.25);
        flex-basis: calc(9.375rem + 7.1875 * (100vw - 48rem) / 23.25);
  }
}

@supports (max-width: clamp( 2.5rem , 2.1341463415rem  +  1.8292682927vw , 3.4375rem )) {
  .header__column_logo img {
    max-width: clamp( 2.5rem , 2.1341463415rem  +  1.8292682927vw , 3.4375rem );
  }
}

@supports not (max-width: clamp( 2.5rem , 2.1341463415rem  +  1.8292682927vw , 3.4375rem )) {
  .header__column_logo img {
    max-width: calc(2.5rem + 0.9375 * (100vw - 20rem) / 51.25);
  }
}

.header__column_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__column_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__column_icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem );
       -moz-column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem );
            column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -2.5223214286rem  +  5.5803571429vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 28);
       -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 28);
            column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 28);
  }
}

.menu__item {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  padding: 0rem 0.625rem;
  font-size: 1rem;
  line-height: 1.2857142857;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__link_sub {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 5rem;
  left: 70%;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 0.625rem;
  padding: 20px;
  min-width: 9.375rem;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sub-menu__item {
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.icon-menu {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-webp .promo{
  background-image: url("../img/bg.jpg"); }

.promo {
  background-repeat: no-repeat;
  background-position-x: 400px;
  background-color: #1a181b;
}

@supports (padding-top: clamp( 0.625rem , -0.3506097561rem  +  4.8780487805vw , 3.125rem )) {
  .promo {
    padding-top: clamp( 0.625rem , -0.3506097561rem  +  4.8780487805vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -0.3506097561rem  +  4.8780487805vw , 3.125rem )) {
  .promo {
    padding-top: calc(0.625rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.promo__main-title {
  color: #fff;
  font-weight: 700;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  gap: 0.625rem;
}

.promo__main-title span {
  line-height: 1.1;
}

.promo__strong {
  display: block;
}

@supports (font-size: clamp( 3.125rem , 1.6615853659rem  +  7.3170731707vw , 6.875rem )) {
  .promo__strong {
    font-size: clamp( 3.125rem , 1.6615853659rem  +  7.3170731707vw , 6.875rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.6615853659rem  +  7.3170731707vw , 6.875rem )) {
  .promo__strong {
    font-size: calc(3.125rem + 3.75 * (100vw - 20rem) / 51.25);
  }
}

.promo__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.promo__subtitle {
  font-size: 1rem;
}

.promo__subtitle_max {
  max-width: 330px;
  font-weight: 400;
  line-height: 1.5 !important;
}

.promo__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  margin-top: 45px;
}

.promo__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  border: 0.0625rem solid #fff;
  color: #000;
  padding: 20px 30px;
  border-radius: 1.75rem;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.promo__videobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.promo__video {
  position: relative;
  border: 0.0625rem solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.promo__video::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 18px;
  border-color: transparent transparent transparent #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.promo__descr {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  max-width: 900px;
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(49, 49, 49, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.45s ease-in-out;
  -o-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 61.99875em) {
  .header._scroll .header__container {
    min-height: 4.375rem;
  }

  .menu__list {
    height: 100%;
  }

  .menu__link._active {
    color: #B90000;
  }
}

@media (max-width: 48em) {
  .header__column {
    -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
  }
}

@media (max-width: 112.5em) {
  .promo {
    background-position-x: 350px;
  }
}

@media (max-width: 109.375em) {
  .promo {
    background-position-x: 250px;
  }
}

@media (max-width: 103.125em) {
  .promo {
    background-position-x: 100px;
  }
}

@media (max-width: 90.625em) {
  .promo {
    background-position-x: 50px;
  }
}

@media (max-width: 87.5em) {
  .promo {
    background-position-x: -200px;
  }
}

@media (max-width: 71.875em) {
  .promo {
    background-position-x: center;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    gap: 25px;
    background-color: rgb(49, 49, 49);
  }

  .header__column_btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__column_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

@supports (flex-basis: clamp( 1.875rem , -7.1572580645rem  +  18.8172043011vw , 6.25rem )) {
    .header__column_icon {
      -ms-flex-preferred-size: clamp( 1.875rem , -7.1572580645rem  +  18.8172043011vw , 6.25rem );
          flex-basis: clamp( 1.875rem , -7.1572580645rem  +  18.8172043011vw , 6.25rem );
    }
}

@supports not (flex-basis: clamp( 1.875rem , -7.1572580645rem  +  18.8172043011vw , 6.25rem )) {
    .header__column_icon {
      -ms-flex-preferred-size: calc(1.875rem + 4.375 * (100vw - 48rem) / 23.25);
          flex-basis: calc(1.875rem + 4.375 * (100vw - 48rem) / 23.25);
    }
}

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: rgb(45, 45, 45);
    z-index: 3;
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

@supports (padding-top: clamp( 6.25rem , 4.5426829268rem  +  8.5365853659vw , 10.625rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 4.5426829268rem  +  8.5365853659vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.5426829268rem  +  8.5365853659vw , 10.625rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 4.375 * (100vw - 20rem) / 51.25);
    }
}

  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: #fff;
  }

@supports (height: clamp( 5rem , 2.7804878049rem  +  11.0975609756vw , 10.6875rem )) {
    .menu__body::before {
      height: clamp( 5rem , 2.7804878049rem  +  11.0975609756vw , 10.6875rem );
    }
}

@supports not (height: clamp( 5rem , 2.7804878049rem  +  11.0975609756vw , 10.6875rem )) {
    .menu__body::before {
      height: calc(5rem + 5.6875 * (100vw - 20rem) / 51.25);
    }
}

  .menu-open .menu__body {
    left: -50%;
  }

  .menu-open .menu__body::before {
    left: -50%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25rem;
            flex: 0 1 25rem;
    max-width: 400px;
    margin-left: 32.5rem;
    gap: 1.25rem;
  }

@supports (margin-left: clamp( 6.25rem , -5.9451219512rem  +  60.9756097561vw , 37.5rem )) {
    .menu__list {
      margin-left: clamp( 6.25rem , -5.9451219512rem  +  60.9756097561vw , 37.5rem );
    }
}

@supports not (margin-left: clamp( 6.25rem , -5.9451219512rem  +  60.9756097561vw , 37.5rem )) {
    .menu__list {
      margin-left: calc(6.25rem + 31.25 * (100vw - 20rem) / 51.25);
    }
}

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .video-overlay iframe {
    width: 80%;
    max-width: 700px;
  }
}

@media (max-width: 61.99875em) and (max-width: 48em) {
  .header__column_icon {
    -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .menu-open .menu__body {
    left: -30%;
  }

  .menu-open .menu__body::before {
    left: -30%;
  }

@supports (margin-left: clamp( 3.75rem , -5.762195122rem  +  47.5609756098vw , 28.125rem )) {
    .menu__list {
      margin-left: clamp( 3.75rem , -5.762195122rem  +  47.5609756098vw , 28.125rem );
    }
}

@supports not (margin-left: clamp( 3.75rem , -5.762195122rem  +  47.5609756098vw , 28.125rem )) {
    .menu__list {
      margin-left: calc(3.75rem + 24.375 * (100vw - 20rem) / 51.25);
    }
}
}

@media (max-width: 53.125em) {
  .promo {
    background-size: 1300px;
    background-position-y: 100px;
  }
}

@media (max-width: 47.99875em) {
  .header {
    min-height: 0.3125rem;
  }

  .header._scroll .buy-header {
    width: 2.625rem;
    height: 2.625rem;
  }
}

@media (max-width: 34.375em) {
  .promo {
    background-size: 1100px;
    background-position-y: 100px;
  }
}

@media (max-width: 29.99875em) {
  .header__column_btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 28.125em) {
  .promo__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__videobox {
    margin-left: -25px;
  }
}

@media (any-hover: hover) {
  .menu__item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }

  .menu__link:hover._icon-right-arrow::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #B90000;
  }

  .menu__link:hover {
    color: #B90000;
  }

  .sub-menu__item:hover {
    color: #B90000;
  }

  .promo__btn:hover {
    border-color: #B90000;
    color: #fff;
    background-color: #B90000;
  }

  .promo__video:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.webp .promo{ background-image: url(../img/bg.webp); }